@CHARSET "ISO-8859-1";
/* Tell the browser to render HTML 5 elements as block */

* {
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-box-sizing : border-box;
}

body{	
	background-position: right top;
	background-attachment: fixed;
	background-color: MintCream;
	margin:0px;		
	width: 500px;
}
header {
	position:fixed;
	display : inline-block;
	top:0;
	left:0;
	height: 40px;
	margin-right: 100px;		
	width: 100%;	
	background-color:Black;
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;	
	z-index: 1;
	border-bottom:1px double Orange;
}
h4{
	color:white;	
	margin-left:10px;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;	
}
h4 .span1{
	color:red;	
}
h4 .span2{
	color:white;
	font-family: "Brush Script MT", cursive;
}
section{		
	position:fixed;	
	top:40px;
	bottom:32px;
	width: 100%;
	overflow: auto;	
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 2;	
}
footer {
	position: fixed; 
	display:block;
    bottom: 0;
    left: 0;
    background-color: Wheat;
    height: 30px;            
    width:100%;
    padding:2px;
    padding-left: 15px;
    z-index:1;
    border-top:1px double Orange;    
}
.center {
    margin: auto;
    width: 98%;    
}
.right{
	float:right;
	margin: auto;
	padding: 10px;
}
.nav-tabs {
  float: right;
}
.contect-tabs {
  float: right;
}
.form-inline{
	padding-top:10px;	
}
.panel-heading img{
	width: 80px;
	height: 80px;
}
.hide{
	display:none;
}
.inputArea{	
	position:absolute;	
	height:100px;
	width : 98%;
	top:5px;
	display: block;
	border-bottom:1px double Orange;	
	padding:5px;	
}
.inputArea .inputs{
	position : relative;	
	height: 100px;
}
.inputArea .inputs form{
	display : block;
	position : relative;
	width : 100%;
	margin-bottom: 10px;
}
.fileInput{
	display: inline;
	width: 600px;
	height: 50px;	
}
.fileInput .inputText{	
	position : absolute;
	top: 10px;	
}
.fileInput .inputBox{	
	position : absolute;
	left: 85px;
	width: 350px;
}
.fileInput .submit{	
	position: absolute;
	left: 450px;	
}
.urlInput{
	display : inline;
	top : 60px;
	width: 600px;
	height: 50px;	
}
.urlInput .inputText{
	position: absolute;	
	top: 60px;
}
.urlInput .inputBox{
	position: absolute;
	left: 85px;
	top:60px;
	width: 350px;
}
.urlInput .submit{
	position: absolute;
	left: 450px;
	top: 60px;
}
.submitButton{
	width: 120px !important;
	border-bottom: 2px solid MediumBlue;
}

.buttonGenerate{
	position: absolute;
	left: 450px;
}

.buttonOpenAll{
	position: absolute;
	left: 560px;
}
.buttonCollapseAll{
	position: absolute;
	left: 560px;
	top: 50px;
}
.buttonProp1{
	height: 80px;
	width: 100px !important;	
	box-shadow : 0px 2px 4px 0px rgba(0,0,0,0.2);
	border-radius: 10px;
}
.buttonProp2{
	height: 35px;
	width: 100px !important;
	box-shadow : 0px 2px 4px 0px rgba(0,0,0,0.2);
	border-radius: 10px;
}

.fileDetails{
	position: absolute;	
	left: 670px;
	height: 80px;
	width: 500px;
	/*white-space: nowrap;*/		
}
.fileDetails .alertDiv{
	border: 1px solid Silver;
}

.alert-warning, .alert-success, .alert-danger{
	height: 80px;
	width: 500px;	
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	display: inline-block;
}

.dataArea{
	margin-top:20px;
}

#dataTable{
	position:relative;
	top:70px;
	margin-top:70px;	
}

.helpPage aside{
	position: fixed;
	z-index: 1;
	width: 200px;
	height: 100%;
	border-right: 3px solid Orange;	
}
.help{
	position: absolute;
	top:0;	
	height: 100%;
	margin-left: 200px;
	/*border-left: 1px double Orange;*/
	color:black;
}
.help h1{
	color:black;
}
.help img{
	height: 400px;
	width: 700px;
}
.help .helpAnnot{
	position: relative;		
	margin-top: 20px;
	margin-left: 20px;
	padding: 5px;	
}
.helpAnnot p{
	display: block;
	background-color: LightSteelBlue;
	font-style: strong;
	position: relative;
	margin-top: 20px;
	margin-left: 20px;
}
.helpAnnot img{
	margin-top: 20px;
	margin-left: 20px;
}

.help .helpVideo{
	border: 1px solid black;
}
#loader1{
	display : none;
	position: absolute;
	margin-top: 220px;
	margin-left: 42%;	
}
#spinner1{
	display : none;
	position : absolute;
	margin-top: 0;
	margin-left: 0;
}
#spinner2{
	display : none;
	position : absolute;
	margin-top: 20px;
	margin-left: 65px;
	animation-direction: reverse;
}
#spinner3{
	display : none;
	position : absolute;
	margin-top: 60px;
	margin-left: 60px;
}

