<div class="container row">
	<div class="columns" data-ng-show="responsed">
		<ul class="annot">
			<li class="header" style="background-color: rgb(0, 239, 0)">Permission</li>
		</ul>	
		<p class="well"
			data-ng-repeat="a in permissionList track by $index">
			<strong>[{{$index+1}}]</strong> {{getAnnot(a)}}
		</p>	
	</div>
	
	<div class="columns" data-ng-show="responsed">
		<ul class="annot">
			<li class="header" style="background-color: rgb(72, 120, 255)">Duty</li>
		</ul>
		<p class="well"
			data-ng-repeat="a in dutyList track by $index">
			<strong>[{{$index+1}}]</strong> {{getAnnot(a)}}
		</p>	
	</div>
	
	<div class="columns" data-ng-show="responsed">
		<ul class="annot">
			<li class="header" style="background-color: rgb(255, 85, 70)">Prohibition</li>
		</ul>
		<p class="well"
			data-ng-repeat="a in prohibitionList track by $index">
			<strong>[{{$index+1}}]</strong> {{getAnnot(a)}}
		</p>						
	</div>
</div>